body {
	width: 80%;
	margin-top: 20px;
	margin-bottom: 0;
	margin-right: auto;
	margin-left: auto;
	line-height: 1.5;
	font-family: sans-serif;
}

nav, div {
	text-align: center;
}

img {
	width: 100%;
}

footer {
	background-color: lightgray;
	padding: 2px;
	text-align: center;
	margin-top: 30px;
}

nav a  {
	text-decoration: none;
	padding: 10px;
}

td {
	padding: 5px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

input, select, textarea, button {
	width: 98.6%;
	padding: 5px;
	margin: 5px;
}

select {
	width: 100%;
}

button {
	width: auto;
}

textarea {
	height: 100px;
}

section {
	margin-left: 5%;
	margin-right: 5%;
}